/exercises/exercise1/nbproject/private/
/solutions/solution1/nbproject/private/
/exercises/exercise1/build/
/solutions/solution1/viewer/nbproject/private/
/solutions/solution1/editor/nbproject/private/
/solutions/solution1/api/nbproject/private/
/exercises/exercise2/nbproject/private/
/solutions/solution2/build/
/solutions/solution2/api/build/
/solutions/solution2/viewer/build/
/solutions/solution2/editor/build/
/solutions/solution2/catprovider/build/
/solutions/solution2/pigprovider/build/
/solutions/solution2/rabbitprovider/build/
/solutions/solution2/viewer/nbproject/private/
/solutions/solution2/rabbitprovider/nbproject/private/
/solutions/solution2/pigprovider/nbproject/private/
/solutions/solution2/editor/nbproject/private/
/solutions/solution2/catprovider/nbproject/private/
/solutions/solution2/api/nbproject/private/
/exercises/exercise3/nbproject/private/
/exercises/exercise3/build/
/solutions/solution3/Core/nbproject/private/
/solutions/solution3/nbproject/private/
/solutions/solution3/Core/build/
/solutions/solution3/build/
/exercises/exercise4/nbproject/private/
/exercises/exercise4/build/
/exercises/exercise4/Core/build/
/exercises/exercise4/Core/nbproject/private/