/exercises/exercise1/nbproject/private/
/solutions/solution1/nbproject/private/
/exercises/exercise1/build/
/solutions/solution1/viewer/nbproject/private/
/solutions/solution1/editor/nbproject/private/
/solutions/solution1/api/nbproject/private/